<div *ngIf="isLoading; else content">
  <h1>Loading...</h1>
</div>

<ng-template #content>
  <div>
    <h1>{{ appTitle }}</h1>
    <hr />
    <h2>Property binding</h2>
    <button [disabled]="isLoading" (click)="changeTitleHandler()">Change title</button>
    <hr />
    <h2>Event binding</h2>
    <h3>{{ text }}</h3>
    <input type="text" (input)="changeTextHandler($event)" />
    <br />
    <input type="text" (keyup.enter)="changeTextHandler($event)" [value]="text" />
    <hr />
    <h2>Two-way binding</h2>
    <h3>{{ text }}</h3>
    <input type="text" [(ngModel)]="text" />
    <hr />
    <h3>{{ user.name }}</h3>
    <hr />
    <h2>@Input @Output decorators</h2>
    <inst-parent></inst-parent>
    <hr />
    <h2>*ngSwitch</h2>
    <inst-ngswitch></inst-ngswitch>
    <hr />
    <h2>[ngClass] [ngStyle]</h2>
    <inst-ngclass></inst-ngclass>
    <hr />
    <h2>ngFor ngIf ngClass Task</h2>
    <inst-ngfor></inst-ngfor>
    <hr />
    <h2>Pipes</h2>
    <inst-pipe></inst-pipe>
    <hr />
    <h2>Services</h2>
    <inst-service></inst-service>
    <inst-service2></inst-service2>
    <h2>HttpClient</h2>
    <inst-todos></inst-todos>
  </div>
</ng-template>
